" --- basic options ---
set number                      " show numbercolumn
set relativenumber              " show relative numbercolumn
set scrolloff=8                 " lines of context
set sidescrolloff=8             " columns of context
set history=300
set breakindent                 " wrap indent to match line start
set ignorecase                  " ignore case
set smartcase                   " case sensitive searching
set incsearch                   " enable incremental search
set whichwrap=b,s,<,>,[,],h,l   " move the beginning and end of a line across lines

" --- basic keymaps ---
let mapleader = ' '   " set leaderkey

nnoremap Q :q<CR>
nnoremap <leader>l :noh<CR>

" Movement
noremap u k
noremap e j
noremap n h
noremap i l
noremap U 5k
noremap E 5j
noremap N 0
noremap I $

noremap h e
noremap W 5w
noremap B 5b

" Actions
noremap j n
noremap J N
noremap l u
noremap L U
noremap k i
noremap k I

" Move block
vnoremap + :m '>+1<CR>gv=gv
vnoremap - :m '<-2<CR>gv=gv

" Window & splits
nnoremap <leader>ww <C-w>w
nnoremap <leader>wu <C-w>k
nnoremap <leader>we <C-w>j
nnoremap <leader>wn <C-w>h
nnoremap <leader>wi <C-w>l

nnoremap <leader>sh :split<CR>
nnoremap <leader>sv :vsplit<CR>

" --- Extensions ---

" EasyMotion
set easymotion
